{% extends "class_home_page.html" %}

{% block content %}
<table class="table table-striped table-hover table-bordered" style="opacity: 0.9">
    <thead class="table-warning">
      <tr>
        <th></th>
        <th>星期一</th>
        <th>星期二</th>
        <th>星期三</th>
        <th>星期四</th>
        <th>星期五</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>高数（7B-202）</td>
        <td>大学英语（6D-203）</td>
        <td>高数（7B-202）</td>
        <td></td>
        <td>高数（7B-202）</td>
      </tr>
      <tr class="table-danger">
        <td>2</td>
        <td>C语言（6E-302）</td>
        <td></td>
        <td>C语言（6E-302）</td>
        <td></td>
        <td>C语言</td>
      </tr>
      <tr class="table-info">
        <td>3</td>
        <td></td>
        <td>计算机导论（6B-101）</td>
        <td>心理课（6E-308）</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="table-success">
        <td>4</td>
        <td></td>
        <td></td>
        <td>体育课</td>
        <td></td>
        <td>历史课（6F-203）</td>
      </tr>
      <tr class="table-active">
        <td>5   </td>
        <td>英语口语（6A-202)</td>
        <td>web前端开发</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <p>{{ ceshi }}</p>
      
    </tbody>
  </table> 
{% endblock %}